In [1]:
import pandas as pd
import glob

all_files = glob.glob("cleaned/*.csv")

li = []

for filename in all_files:
    li.append(pd.read_csv(filename, index_col=None, header=0))

frame = li[0].append(li[1::], ignore_index=True)

In [2]:
frame.head()

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,day of week,start date,stop date
0,107,07:48,07:49,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,member,1966.0,male,Monday,04/01/2019,04/01/2019
1,493,12:41,12:49,Exchange Place,40.716247,-74.033459,Warren St,40.721124,-74.038051,casual,1990.0,male,Monday,04/01/2019,04/01/2019
2,512,14:27,14:35,Exchange Place,40.716247,-74.033459,Newport PATH,40.727224,-74.033759,member,1987.0,female,Monday,04/01/2019,04/01/2019
3,196,15:07,15:10,Exchange Place,40.716247,-74.033459,Essex Light Rail,40.712774,-74.036486,member,1989.0,male,Monday,04/01/2019,04/01/2019
4,463,16:19,16:27,Exchange Place,40.716247,-74.033459,Manila & 1st,40.721651,-74.042884,member,1995.0,male,Monday,04/01/2019,04/01/2019

In [3]:
len(frame.index)

345440

In [4]:
frame.to_csv("citiBike.csv",encoding="utf-8", index=False, header=True)